*{
margin:0;
padding:0;

}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Fredericka;
    src: url(../assets/fonts/FrederickatheGreat-Regular.ttf);
}


 header{
    background-image: url(./img/leaves-g41faf0961_1920.jpg);
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

header p:first-child{
    text-indent: 100px;
    font-size: 30px;
    font-family: "Fredericka",Arial, Helvetica, sans-serif;
    color:white;
    padding-top: 15px;
}

header p:last-child{
    text-align: right;
    color:white;
    font-size: 15px;
    font-family: "Fredericka",Arial, Helvetica, sans-serif;

}

header div h1{
    font-family: "Fredericka",Arial, Helvetica, sans-serif;
    padding: 10px;
}

header div{
    width: 380px;
    text-align: center;
    margin: 15% auto;
    color:white;
}

header div p{
    margin:30px;
    font-family: "OpenSans",Arial, Helvetica, sans-serif;

}

header div a{
    text-decoration: none;
    color:white;
    border:1px solid white;
    padding:8px 30px;  
    }

header div:last-child{
width: 100%;
margin:auto;
} 


section{
    height: 40vh;
    text-align: center;
}

section div
{
    margin: 0 auto;
    width: 440px;
}


section h2{
    margin:50px;
}




section div:last-child{

    border:3px solid grey;
    width: 160px;
    padding: 10px 0px;
    margin-top:30px;
}


section div:last-child p{
    padding:10px;
}

 
footer{
    background-color: rgba(0, 0, 0, 0.433);
    height:10vh;
    padding: 3% 2%; 

}




footer p {
    color:white;
    font-family:"OpenSans",Arial, Helvetica, sans-serif;
    width:710px;
    margin-bottom:30px;
}

footer a{
    padding:10px 30px;
    background-color: lightgray;
    text-decoration: none;
    color:black;
}
