@font-face {
    font-family: Gilda;
    src: url(../assets/fonts/GildaDisplay-Regular.ttf);
}

@font-face {
    font-family: Maven;
    src: url(../assets/fonts/MavenPro-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(44, 43, 43);
    height: 100vh;
    padding:10px;
}

.logo{
    font-family: "Maven";
    letter-spacing: 8px;
    color:#cccccc;
}

.title-div{
    background-image: linear-gradient(to bottom left,  #3dc8d5,#194894,#8507e1);
    width: 250px;
    height: 200px;
    margin: 30vh auto 17.5vh auto;
    border-radius: 5px;
}

.title-div:hover{
    background-image:linear-gradient(to bottom left, #8507e1,#194894, #3dc8d5); 
}


h1{
    font-family: "Gilda";
    font-size: 60px;
    margin:10px;
    color:white;
}

.title-div p{
    margin: 5px;
    text-align: center;
    color:white;
    font-family: "Maven";
}

ul{
    text-align: right;
    list-style: none;
}



li a{
    text-decoration: none;
    color: #cccccc;
    font-family: "Maven";
}

li{
    margin-bottom: 8px;
}

li a:hover{
    color:white;
}

section img{
    display: block;
    width: 60vw;
    border-radius: 8px;
    margin: 0 auto;

}

section{
    height:100vh;
    margin-bottom:100px;
}

section h2{
margin-left: 20vw;
margin-top:40px;
margin-bottom: 15px;
font-family: "Gilda";
font-size:60px;
font-weight: 900; /* anpassen*/
}

section p{
    margin-left:20vw;
    font-family: "Maven";
}

section:first-of-type{
    height:80vh
}

.stuffwedid-div{
    background-image: url(https://assets.website-files.com/5c8834f1555981170b2fd8b1/5c898cd67456ffcba141a5ff_PROJECTS.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width:1000px;
    margin: 20vh auto;
}


section:first-of-type h2{
    padding-top:90px;
    text-align: left;
    margin:0;
    margin-bottom: 35px;
    font-weight: 900;
}

section:first-of-type p {
    margin: 0;
}