*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

fieldset{
    padding: 10px;
    width:450px;
}

input[type="submit"]{
    margin-top: 8px;
}
